<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cowain.mapper.CommentMapper">
    <insert id="insert">
        insert into comment(user_id,order_id, mobile, dish_ids, setmeal_ids, description, images, status, create_time)
        values (#{userId},#{orderId}, #{mobile}, #{dishIds}, #{setmealIds}, #{description}, #{images}, #{status}, #{createTime})
    </insert>
</mapper>